nav ul {
  list-style-type: none;

}

nav ul li{
float: left;
width: auto;
}

nav ul li a {
  display: block;
}

body {
 background-image: url("https://s2.best-wallpaper.net/wallpaper/3840x2160/1802/Rainbow-colors-wood-board-background_3840x2160.jpg");
 background-size: cover;
}

header{
  width: 80%;
margin: 0 auto;
  padding: 5px;

}

div.class.row{
  width: 50%;
  margin: 2.5%;
  float: right;
}
 a class="btn btn-primary btn-lg active"{
   text-align: center;
 }

section{
  overflow: hidden;
}
