h1{
  text-align: center;
  font-size: 80px;
}
div{
  text-align: center;
  font-family: arial;
  font-size: 50px;
}
body{
  background-image: url("https://s2.best-wallpaper.net/wallpaper/3840x2160/1802/Rainbow-colors-wood-board-background_3840x2160.jpg");
  background-size: cover;

}
textarea{
  font-size: 40px;
}
