nav ul {
  list-style-type: none;
  overflow: hidden;
}

nav ul li{
float: left;
width: auto;
}

nav ul li a {
  display: block;
}

body {
 background-image: url("https://s2.best-wallpaper.net/wallpaper/3840x2160/1802/Rainbow-colors-wood-board-background_3840x2160.jpg");
 background-size: cover;

}
h1{
  text-align: center;
  font-size: 50px;
  font-family: sans-serif;
}

p{
  text-align: center;
  background-color: white;
  border-radius: 20px;
  font-size: 25px;
}

p h1 a li ul{
  background-color: yellow;
}
img{
  width: 30%;
  height: 20%;
  margin: auto;
  display: flex;
  border-radius: 20px;
  position: relative;
}
div img p{
  background-color: white;
}
